# Dependencies
frontend/node_modules
backend/venv
backend/__pycache__
frontend/.env
backend/.env

# Build files
frontend/build
frontend/dist
frontend/.cache
frontend/node_modules/.cache

# IDE files
.vscode
.idea

# OS files
.DS_Store
*.log

# Cache files
*.pack
*.pack.old
frontend/node_modules/.cache/
backend/__pycache__/
*.pyc
